apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: git-happens-ingress
  namespace: team-git-happens
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  ingressClassName: nginx
  rules:
    - host: client-app.student.k8s.aet.cit.tum.de
      http:
        paths:
          - path: /api/auth
            pathType: Prefix
            backend:
              service:
                name: authentication-service
                port:
                  number: 8080
          - path: /api/courses
            pathType: Prefix
            backend:
              service:
                name: course-service
                port:
                  number: 8080
          - path: /api/review
            pathType: Prefix
            backend:
              service:
                name: review-service
                port:
                  number: 8080
          - path: /api/recommend
            pathType: Prefix
            backend:
              service:
                name: recommendation-gateway
                port:
                  number: 8080
          - path: /auth
            pathType: Prefix
            backend:
              service:
                name: authentication-service
                port:
                  number: 8080
          - path: /courses
            pathType: Prefix
            backend:
              service:
                name: course-service
                port:
                  number: 8080
          - path: /review
            pathType: Prefix
            backend:
              service:
                name: review-service
                port:
                  number: 8080
          - path: /recommend
            pathType: Prefix
            backend:
              service:
                name: recommendation-gateway
                port:
                  number: 8080
          - path: /
            pathType: Prefix
            backend:
              service:
                name: client-app
                port:
                  number: 80
