name: KubernetesCD

on: [
  push,
  pull_request
]
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: latest

      - name: Set up Helm
        uses: azure/setup-helm@v3


      - name: Configure kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config

      - name: Delete existing MySQL
        run: |
          helm uninstall mysql --namespace team-git-happens || true

      - name: Deploy MySQL (Bitnami Chart)
        run: |
          helm upgrade --install mysql oci://registry-1.docker.io/bitnamicharts/mysql \
            --namespace team-git-happens \
            --create-namespace \
            -f ./helm-charts/mysql/mysql-values.yaml


      - name: Deploy client-app
        run: |
          helm upgrade --install client-app ./helm-charts/client-app \
            --namespace team-git-happens \
            --create-namespace \
            --set image.tag=f94324c46256436bac64562912187f7b79e2bcef

      - name: Deploy authentication-service
        run: |
          helm upgrade --install authentication-service ./helm-charts/authentication-service \
            --namespace team-git-happens \
            --set image.tag=f94324c46256436bac64562912187f7b79e2bcef

      - name: Deploy course-service
        run: |
          helm upgrade --install course-service ./helm-charts/course-service \
            --namespace team-git-happens \
            --set image.tag=f94324c46256436bac64562912187f7b79e2bcef

      - name: Deploy review-service
        run: |
          helm upgrade --install review-service ./helm-charts/review-service \
            --namespace team-git-happens \
            --set image.tag=f94324c46256436bac64562912187f7b79e2bcef

      - name: Deploy recommendation-gateway
        run: |
          helm upgrade --install recommendation-gateway ./helm-charts/recommendation-gateway \
            --namespace team-git-happens \
            --set image.tag=f94324c46256436bac64562912187f7b79e2bcef

      - name: Deploy genai-service
        run: |
          helm upgrade --install genai-service ./helm-charts/genai-service \
            --namespace team-git-happens \
            --set image.tag=f94324c46256436bac64562912187f7b79e2bcef
